---
import data from "../data/oil-types.yaml"; // your YAML file
const rows = data.properties.rows;
---

<h3>{data.title}</h3>
<p>{data.shortdesc}</p>

<ul>
  {rows.map(row => (
    <li>
      <strong>{row.type}</strong>
      <ul>
        <li>Brand: {row.value}</li>
        <li>Use: {row.description}</li>
      </ul>
    </li>
  ))}
</ul>
